{% extends "base.html" %}
{% block title %} Security Questions Admin {% endblock %}
{% block top %}Admin{% endblock %}
{% block imghref %}/siteadmin{% endblock %}
{% block content %}
<div class="container">
	<br>
	<table>
		<thead>
			<tr class="table-head">
				<th>Security Questions</th>
			</tr>
		</thead>
		<tbody>
				{% for s in SECURITY_QUESTIONS %}
				<tr>
					<td>{{s}}</td>
				</tr>
				{% endfor %}
		</tbody>
	</table>
	<br>
	<br>
	<a class="btn" href="/siteadmin/securityq/add">Add a question</a>
	<a class="btn" href="/siteadmin/securityq/remove">Remove a question</a>
</div>
{% endblock %}