{% extends "base.html" %}
{% block title %} Signup {% endblock %}
{% block top %} Signup {% endblock %}
{% block imghref %}#{% endblock %}
{% block content %}
	<div class="wrapper fadeInDown">
		<div id="formContent">
		<form method = "POST">
			<br>
			<input type="text" id="username" name="username" placeholder="Username" value="{{username}}" required>
			<input type="password" name="password" id="password" placeholder="Password" value="{{password}}" required>
			<input type="password" name="confirm_password" value="{{confirm_password}}" placeholder="Confirm Password"  oninput="check(this)" required>
				<script language='javascript' type='text/javascript'>
				    function check(input) {
				        if (input.value != document.getElementById('password').value) {
				            input.setCustomValidity('Password Must Match');
				        } else {
				            // input is valid -- reset the error message
				            input.setCustomValidity('');
				        }
				    }
				</script>
			<label for="security_question">Security Question (pick one):</label>
			<select name="security_question" required>
				<option selected value="{{security_question}}" hidden>Pick One</option>
				{% for choice in security_questions%}
				<option value="{{choice}}" required>{{choice}}</option>
				{% endfor %}
			</select>
			<br>
			<input type="text" name="answer" placeholder="Answer" required>
			<input type="submit" id="submit-btn">
			<div id="formFooter" style="margin-top:-10px">
          		<a href="/" style="display:block">cancel</a>   
        	</div>
		</form>
		</div>
	</div>
		
{% endblock %}