{% extends "base.html" %}
{% block title %} Signup {% endblock %}
{% block top %} Signup {% endblock %}
{% block imghref %}/{% endblock %}
{% block content %}
<div class="wrapper fadeInDown">
  <div id="formContent">
 	<!-- Tabs Titles -->
    <br>
    <!-- Login Form -->
    <form method="POST">
      <input type="text" id="login" class="fadeIn second" name="first_name" placeholder="First Name" required>
      <input type="text" id="last_name" class="fadeIn third" name="last_name" placeholder="Last Name" required> 
      <div id="age">
      	<label name="birthday">Birthday:</label>

        <select name="month" required>
          <option value="month" selected hidden>month</option>
          {% for month in months: %}
            <option required>{{month}}</option>
          {% endfor %}
        </select>

        <select name="day" required>
          <option value="day" selected hidden>day</option>
          {% for day in range(1,32): %}
            <option required>{{day}}</option>
          {% endfor %}
        </select>

        <select name="year" required>
          <option value="year" selected hidden>year</option>
          {% set year =  2015%}
          {% for year in range(1950,2015)|reverse %}
            <option required>{{year}}</option>
          {% endfor %}
        </select>
      	
      </div>
      <br>
  		<label name = "gender">Gender:</label>
  		<input type="radio" name="gender" value="male" required> Male
  		<input type="radio" name="gender" value="female" required> Female
  	  <br>
        <input type="submit" value="Continue">
        <div id="formFooter" style="margin-top:-10px">
          <a href="/" style="display:block">cancel</a>   
        </div>
    </form>

    <!-- Remind Passowrd -->

  </div>
</div>

{% endblock %}