{% extends "base.html" %}
{% block title %} Admin Home {% endblock %}
{% block top %}Admin{% endblock %}
{% block imghref %}/admin{% endblock %}
{% block content %}
<style type="text/css">
#logout {
	margin:0 25%;
	width:50%;
/*}
#notification {
    height: 1.4em;
    width: 1.4em;
    margin: 0 90px -40px 115px;
    background: red;
    border-radius: 50%;
    text-align: center;
    position: relative;
    font-size: 26px;
    color: white;
    font-family: arial;
}*/
}
#notification {
    height: 1.4em;
    width: 1.4em;
    margin-bottom: -40px;
    margin-left: 86px;
    background: red;
    border-radius: 50%;
    text-align: center;
    position: relative;
    font-size: 26px;
    color: white;
    font-family: arial;
}


</style>
<div class="container">
	<div id="notification">{{scnum}}</div>
	<a class="btn" href="/siteadmin/challenges">Suggested Challenges</a>
	<a class="btn" href="/siteadmin/securityq">Security Questions</a>
	<form method="POST">
		<input id='logout' type="submit" name="logout" value="logout">
	</form>
	<br>
	<br>
</div>
{% endblock %}