{% extends "base.html" %}
{% block title %} Delete Challenge {% endblock %}
{% block top %}Delete a Challenge{% endblock %}
{% block imghref %}/siteadmin{% endblock %}
{% block content %}
	<style type="text/css">
		#form {
			margin: 10px;
		}
		#form input[type="submit"] {
			margin-top: 20px;
		}
	</style>
<div class="container">
	<div class="wrapper fadeInDown">
		<div id="formContent">
		<br>
		<form method="POST">
				<label for="challenge">Challenge: </label>

				<select name="challenge" required="required" class="fadeIn second" id="select">
					<option value="" hidden>Select Challenge</option>

					<optgroup label="Time (seconds)">
				    {% for item in challenge_dict['time'] %}
				    	<option value="{{ item }}" required="required">{{item}}</option>
				    {% endfor %}
					</optgroup>

				    <optgroup label="Laps">
				    {% for item in challenge_dict['laps'] %}
				    	<option value="{{ item }}" required="required">{{item}}</option>
				    {% endfor %}
					</optgroup>

				    <optgroup label="Reps (in one minute)">
				    {% for item in challenge_dict['reps'] %}
				    	<option value="{{ item }}" required="required">{{item}}</option>
				    {% endfor %}
				    </optgroup>
				</select>
				<br>
				<br>
				<input type="submit" class="fadeIn fourth" value="Submit" id="submit">
		</form>
		</div>
	</div>
</div>
{% endblock %}