{% extends "base.html" %}
{% block title %} Admin Login {% endblock %}
{% block top %}Admin Login{% endblock %}
{% block imghref %}/{% endblock %}
{% block content %}
<style type="text/css">
		#form {
			margin: 10px;
		}
		#form input[type="submit"] {
			margin-top: 20px;
		}
		#logout {
			margin:0 25%;
			width:50%;
		}
</style>
	{% if not auth %}
	<div class="container">
		<div class="wrapper fadeInDown">
			<div id="formContent">
			<br>
			<form id="form" method="POST">
				<label for="question">Enter Admin Password:</label>
				<input type="password" name="password" placeholder="password">
				<br>
				<input type="submit" class="fadeIn fourth" value="Login" id="submit">
			</form>
		</div>
	</div>
	</form>
	{% else %}
	<div class="container">
		<a class="btn" href="/admin/user">Database</a>
		<a class="btn" href="/siteadmin">Site admin</a>
		<br>
		<form method="POST">
			<input type="submit" id='logout' name="logout" value="logout">
		</form>
		<br>
		<br>
	</div>
	{% endif %}
</body>
</html>
{% endblock %}