{% extends "base.html" %}
{% block title %} Admin Home {% endblock %}
{% block top %}Admin{% endblock %}
{% block imghref %}/{% endblock %}
{% block content %}
<style type="text/css">
#form {
	margin: 10px;
}
#form input[type="submit"] {
	margin-top: 20px;
}
#logout {
	margin:0 25%;
	width:50%;
}
/*#notification {
	height: 1.4em;
	width: 1.4em;
	margin: 0 90px -40px 115px;
	background: red;
	border-radius: 50%;
	text-align: center;
	position: relative;
	font-size: 26px;
	color: white;
	font-family: arial;
}*/

#notification {
	height: 1.4em;
	width: 1.4em;
	margin-bottom: -40px;
	margin-left: 86px;
	background: red;
	border-radius: 50%;
	text-align: center;
	position: relative;
	font-size: 26px;
	color: white;
	font-family: arial;
}
</style>
<!-- login page -->
	{% if not auth %}
	<div class="container">
		<div class="wrapper fadeInDown">
			<div id="formContent">
			<br>
			<form id="form" method="POST">
				<label for="question">Enter Admin Password:</label>
				<input type="password" name="password" placeholder="password">
				<br>
				<input type="submit" class="fadeIn fourth" value="Login" id="submit">
			</form>
		</div>
	</div>
	</form>
<!-- home page -->
	{% else %}
	<div class="container">
		<!-- <div id="notification">{{n_suggested_chs}}</div> -->
		<a class="btn" href="/siteadmin/challenges">Suggested Challenges</a>
		<a class="btn" href="/siteadmin/securityq">Security Questions</a>
		<a class="btn" href="/admin/user">Users</a>
		<form method="POST">
			<input id='logout' type="submit" name="logout" value="logout">
		</form>
		<br>
		<br>
	</div>
	{% endif %}
</body>
</html>
{% endblock %}