{% extends "base.html" %}
{% block title %} Admin Home {% endblock %}
{% block top %}Welcome, {{username}}{% endblock %}
{% block imghref %}/admin{% endblock %}
{% block content %}
	<div class = "container">
	<br></br>
	<table border=1>
	<thead>
		<tr>
			<td id="head-td">Type of Challenge</td>
			<td id="head-td">Name of Challenge</td>
			<td id="head-td">Username of Suggestor</td>
		</tr>
	</thead>
	<tbody>
	{% for s in json %}
	<tr>
	<td>
		{{s['type']}}
	</td>
	<td>
		{{s['name']}}
	</td>
	<td>
		{{s['username']}}
	</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
	</div>
	<br></br>
{% endblock %}