<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} {% endblock %}</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">


	<link rel="stylesheet" media="(max-width: 600px)" href="{{ url_for('static', filename='css/mobile.css') }}">

	<link rel="stylesheet" media="(min-width: 601px)" href="{{ url_for('static', filename='css/widescreen.css') }}">
	
</head>
<body>
	<div id="top">
		<!-- the span is necessary in order to keep the h1 centered with the css grid -->
		<span></span> 
		<h1>{% block top %}{% endblock %}</h1>
		<span></span>
	</div>
	  {% with messages = get_flashed_messages() %}
	      {% if messages %}
	        {% for message in messages %}
	        <div id="error"><strong>{{message}}</strong></div>
	        {% endfor %}
	        <br id="above_img">
	      {% endif %}
	    {% endwith %}
	<a href="{% block imghref %}{% endblock %}" width=100%><img class='logo' src="../../static/ninjapark-logo.jpg"></a>
	<br>
    {% block content %}{% endblock %}
  </body>
</html>