{% extends "error_base.html" %}
{% block title %} Challenge Tracker {% endblock %}
{% block top %}Forgot Password{%endblock%}
{% block imghref %}/{%endblock%}
{% block content %}
	{% if not username and not success %}
	<div class="wrapper fadeInDown">
	  <div id="formContent">
	    <br>
	    <form method="POST">
	      <input type="text" id="username" class="fadeIn second" name="username" placeholder="username" required>
	      <input type="submit" class="fadeIn fourth" value="Log In">
	    </form>
	  </div>
	</div>
	{% endif %}
	{% if username %}
	<div class="wrapper fadeInDown">
	  <div id="formContent">
	    <br>
	    <form method="POST">
	      <h2>{{security_question}}</h2>
	      <input type="text" id="answer" class="fadeIn second" name="answer" placeholder="answer" required>
	      <input type="submit" class="fadeIn fourth" value="Log In">
	    </form>
	  </div>
	</div>	
	{% endif %}
	
	{% if success %}
	<div class="wrapper fadeInDown">
		<div id="formContent">
			<form method = "POST">
				<br>
				<input type="password" name="password" id="password" placeholder="Enter a new password" value="{{password}}" required>
				<input type="password" name="confirm_password" value="{{confirm_password}}" placeholder="Confirm Password"  oninput="check(this)" required>
					<script language='javascript' type='text/javascript'>
					    function check(input) {
					        if (input.value != document.getElementById('password').value) {
					            input.setCustomValidity('Password Must Match');
					        } else {
					            // input is valid -- reset the error message
					            input.setCustomValidity('');
					        }
					    }
					</script>
				<input type="submit" value="change password">
			</form>
		</div>
	</div>
	{% endif %}
{% endblock %}