{% extends "base.html" %}
{% block title %} Challenge Tracker {% endblock %}
{% block top %}Challenge Tracker{%endblock%}
{% block content %}
	<div class="container">
		<a class="btn" href="/signup">Sign Up</a>
		<a class="btn" href="/login">Login</a>
		<a class="btn" href="/leaderboard">Leaderboard</a>
	</div>
{% endblock %}