{% extends "base.html" %}
{% block title %} Leaderboard {% endblock %}
{% block top %} Leaderboard {% endblock %}
{% block imghref %}/{% endblock %}
{% block content %}
	<p>Leaderboard for sneaky unlogged in people</p>
{% endblock %}