<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<style type="text/css">
		*{
			font-family: "Raleway";
		}
		#top {
			display: block;
			padding: 20px;
			background-color: black;
			margin: 0 0 10px 0;
		}

		h1 {
			/*margin-left: 30%;
			margin-right: 30%;*/
			margin: 0 auto;
			text-align: center;
			width: 40%;
			color: white;
		}

		.container{
			height: 100%;
			display:inline-block;
			margin: 0 auto;
			background-color: lightgrey;
			text-align: center;
			align-content: center;
		}

		#error {
			background: #e86f6f;
			font-size: 20px;
			padding: 10px;
			width: 80%;
			display: block;
			text-align:center;
			margin: 0 auto;
			border-radius: 20px;
		}

		#submit {
			width: 30%;
			margin: 0 35% 0 35%;
		}

		.btn {
			text-decoration: none;
		
			font-size: 30px;
			width: 200px;
			height: 100%;
			
			padding: 10px;
			margin: 20px auto;

			text-align: center;
			display: block;
			
			color: white;
			background-color: black;
			/*background-color: #1d8ece;*/
			border-radius: 15px;


		}
		.btn:hover {
			background-color: #646669;
		}

	</style>
	<div id="top"><h1>Login</h1></div>	
	{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
				<div id="error"><strong>{{message}}</strong></div>
				{% endfor %}
			{% endif %}
		{% endwith %}
	<form class="container" method = "POST">
	<div>
		<label for="username">Username:</label>
		<input type="text" name="username" required value="{{username}}">
	</div>
	<div>
		<label for="password">Password:</label>
		<input type="password" name="password" required>
	</div>

	<div>
		<input type="submit" id="submit">
	</div>
	</form>
	<a class="btn" href="/">Back</a>
</body>
</html>