{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block top %} Login {% endblock %}
{% block imghref %}/{% endblock %}
{% block content %}
	{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
				<div id="error"><strong>{{message}}</strong></div>
				{% endfor %}
			{% endif %}
		{% endwith %}
	<br>

	<div class="wrapper fadeInDown">
	  <div id="formContent">
	    <!-- Tabs Titles -->

	    <br>
	    <!-- Login Form -->
	    <form method="POST">
	      <input type="text" id="login" class="fadeIn second" name="username" placeholder="login" value="{{username}}" required>
	      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" required>
	      <input type="submit" class="fadeIn fourth" value="Log In">
	    </form>

	    <!-- Remind Passowrd -->
	    <div id="formFooter">
	      <a class="underlineHover" href="#">Forgot Password?</a>
	    </div>

	  </div>
	</div>

{% endblock %}