{% extends "base.html" %}
{% block title %} New Challenge {% endblock %}
{% block top %} Personal Records {% endblock %}
{% block imghref %}/{{username}}{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
@font-face {
  font-family: OpenSans-Regular;
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf'); 
}

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

.container{
	width:60%;
	margin:0 auto;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.table-head th { 
	font-family: OpenSans-Regular;
	font-size: 20px;
	color: #eee;
	line-height: 1.2;
}

table td, table th {
	padding-left: 8px;
}
table thead tr {
	height: 60px;
	background-color: #262136;
}
table tbody tr {
	height: 50px;
}
tbody tr {
	background-color: #e4e4e4;
}

tbody tr:nth-child(even) {
	background-color: #f5f5f5
}
table td, table th {
	text-align: center;
}
table tbody tr:hover{
	background-color: #DDE8E9;
}

</style>
	<style type="text/css">
		.container { 
			text-align: center;
			font-size: 30px;
		}
		.angle:hover{
			color:#777
		}
	</style>
	<br>
	<script type="text/js">
		var i = document.getElementsByTagName('i')
		i[0].addEventListener("click", arrowDown)

		function arrowDown(){
			//i.classList.remove('fa-angle-right')
			//i.classList.add('fa-angle-down')
			background-color:blue;
			alert('it worked! for the arrow')
		}

		function trash(){
			var trash = document.getElementsByClassName('fa-trash')
			trash[0].addEventListener('click', remove)

			function remove(){
			background-color:blue;
			alert('it worked!')
			}
		}


	</script>

<div class="container">
	<table>
		<thead>
			<tr class="table-head">
				<th class="column1"></th>
				<th class="column2">Challenge</th>
				<th class="column3">Score</th>
				<th class="column4">Comment</th>
				<th class="column5"></th>
			</tr>
		</thead>
		<tbody>
			{% for challenge in ch.keys()%}
				<tr>
					<td class="column1"><i class="angle fa fa-angle-right"></td>
					<td class="column2">{{challenge}}</td>
					<td class="column3">{{ch[challenge][0].score}}</td>
					<td class="column4">{{ch[challenge][0].comment}}</td>
					<td class="column4"><i class="fa fa-trash"></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="/{{username}}/records-add" class="btn">Add New Record</a>
</div>	
{% endblock %}