<!DOCTYPE html>
<html>
<head>
	<title>Ninja Challenge Tracker</title>
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/landing_page.css') }}"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<style type="text/css">
	* {
		font-family: "Raleway";
	}

	#error {
		background: #e86f6f;
		font-size: 20px;
		padding: 10px;
		width: 80%;
		display: block;
		text-align:center;
		margin: 0 auto;
		border-radius: 20px;
		-webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
	  	box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
	}

	#top {
		display: block;
		padding: 30px;
		background-color: black;
		margin-bottom: 10px;
	}

	h1 {
		/*margin-left: 30%;
		margin-right: 30%;*/
		margin: 0 auto;
		text-align: center;
		width: 40%;
		color: white;
	}

	img {
		margin: 0 auto;
		height: 200px;
		display: flex;
	}

	a.btn {
		text-decoration: none;
		
		font-size: 30px;
		width: 200px;
		height: 100%;
		
		padding: 10px;
		margin: 20px auto;

		text-align: center;
		display: block;
		
		color: white;
		background-color: black;
		/*background-color: #1d8ece;*/
		border-radius: 15px;
	}
	.btn:hover {
		/*background:#27aee3;*/
		background-color: #646669;
	}

	.container{
		height: 100%;
		width: 40%;

		margin: 0 auto;
		/*padding-top: 20px;	*/

		border-radius: 50px;
	}

	td {
		padding:20px;
		font-size: 25px
	}
	td:nth-of-type(even){
		background-color: #ddd;
		color:black;
	}
	td:nth-of-type(odd){
		background-color: #333;
		color: white;
	}

	.container {
		border-radius: 20px;
		-webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
	  	box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
	}

	#table-container {
		margin: 10px auto;
	}

	.container div {
		display:block;
		margin: 0 auto;

	}

	#submit {
		display:block;
	}
	#spacing {
		color: red;
		height:150px;
		margin-top:30px;
	}

	</style>
	<div id="top"><h1>Personal Records</h1></div>
	{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
				<div id="error"><strong>{{message}}</strong></div>
				{% endfor %}
			{% endif %}
		{% endwith %}
	<a href="/home"><img src="https://static1.squarespace.com/static/5bafd323fd67936d5838d439/t/5bb19cf10d929713f2aa86ba/1538366719559/NNP%2BSmall%2Buse%2Bno%2Bgrad%2Bclr.jpg"></a>
	<br>
	<br>
	<div id='table-container'>
		{% if ch%}
			<table border="1" style="margin: 0 auto;">
			<thead>
				<tr>
					<td style="background-color: white; color:black;">Challenge</td>
					<td style="background-color: white; color:black;">Score</td>
					<td style="background-color: white; color:black;">Date</td>
					<td style="background-color: white; color:black;">Comment</td>
				</tr>
			</thead>
			<tbody>
			{% for challenge in ch.keys()%}
				<!-- make expandable -->
				<tr>
					<td>{{challenge}}</td>
					<td>{{ch[challenge][0].score}}</td>
					<td>{{ch[challenge][0].date_str}}</td>
					<td>{{ch[challenge][0].comment}}</td>
				</tr>
			{% endfor %}
			</tbody>
			</table>
		{% endif %}
	</div>
	<div class = "container">
		<form method="POST">
			<br>
			<div>
				<label for="challenge">Challenge: </label>
				<select name="challenge" required>
				    {% for challenge in challenge_list%}
				    <option value="{{challenge}}" required>{{challenge}}</option>
				    {% endfor %}
				</select>
			</div>
			<div>
				<label for="time">Time: </label>
				<input type="text" name="time">
			</div>
			<div>
				<label for="comment">Comments: </label>
				<input type="text" name="comment">
			</div>
			<div>
				<input type="submit" id="submit">
				<br>
			</div>
		</form>
	</div>
	<br>
</body>
</html>