{% extends "base.html" %}
{% block title %} New Challenge {% endblock %}
{% block top %} Personal Records {% endblock %}
{% block imghref %}/{{username}}{% endblock %}
{% block content %}
	{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
				<div id="error"><strong>{{message}}</strong></div>
				{% endfor %}
				<br id="above_img">
			{% endif %}
		{% endwith %}
	<br>
	<div id='table-container'>
		{% if ch %}
			<table border="2" style="margin: 0 auto;">
			<thead>
				<tr>
					<td id="head-td">Challenge</td>
					<td id="head-td">Score</td>
					<td id="head-td">Date</td>
					<td id="head-td">Comment</td>
				</tr>
			</thead>
			<tbody>
			{% for challenge in ch.keys()%}
				<tr>
					<td>{{challenge}}</td>
					<td>{{ch[challenge][0].score}}</td>
					<td>{{ch[challenge][0].date_str}}</td>
					<td>{{ch[challenge][0].comment}}</td>
				</tr>
			{% endfor %}
			</tbody>
			</table>
		{% endif %}
	</div>
	<div class="wrapper fadeInDown">
		<div id="formContent">
		<br>

		<form method="POST">
				<label for="challenge">Challenge: </label>
				<select name="challenge" required="required" class="fadeIn second" id="select">
					<option value="" disabled selected>Select Challenge</option>

					<optgroup label="Time (seconds)">
				    {% for item in challenge_dict['time'] %}
				    	<option value="{{ item }}" required="required">{{item}}</option>
				    {% endfor %}
					</optgroup>

				    <optgroup label="Laps">
				    {% for item in challenge_dict['laps'] %}
				    	<option value="{{ item }}" required="required">{{item}}</option>
				    {% endfor %}
					</optgroup>

				    <optgroup label="Reps (in one minute)">
				    {% for item in challenge_dict['reps'] %}
				    	<option value="{{ item }}" required="required">{{item}}</option>
				    {% endfor %}
				    </optgroup>

				</select>

				<input type="text" name="time" class="fadeIn third" id="time" placeholder="score">
				
				<input type="text" name="comment" id="comment" value="{{comment}}" placeholder="Comments">

				<input type="submit" class="fadeIn fourth" value="Submit" id="submit">
		</div>
		</form>
	</div>
	<br>
{% endblock %}