<!DOCTYPE html>
<html>
<head>
	<title>signup</title>
	<link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
		<style type="text/css">
			div{
				margin:20px 0;
			}
		</style>	
	<h1>Sign Up</h1>
	<form method = "POST">
		<div>
			<label name = "username">Username:</label>
			<input type = "text" name = "username" required>
		</div>
		<div>
			<label name = "password">Password:</label>
			<input type = "password" name = "password" id="password" required="required">
		</div>
		<div>
			<label name = "confirm_password">Confirm Password:</label>
			<input type = "password" name = "confirm_password" required="required" oninput="check(this)" >
			<script language='javascript' type='text/javascript'>
			    function check(input) {
			        if (input.value != document.getElementById('password').value) {
			            input.setCustomValidity('Password Must Match');
			        } else {
			            // input is valid -- reset the error message
			            input.setCustomValidity('');
			        }
			    }
			</script>
		</div>
		<div>
			<label for = "security_question">Security Question (pick one):</label>
			<select name="security_question" required>
			    {% for choice in security_questions%}
			    <option value="{{choice}}" required>{{choice}}</option>
			    {% endfor %}
			</select>
			<br>
			<label name="answer">Answer:</label>
			<input type="text" name="answer" required>
		</div>

		<div>
			<input type="submit">
		</div>
	</form>
</body>
</html>