{% extends "error_base.html" %}
{% block title %} Signup {% endblock %}
{% block top %} Signup {% endblock %}
{% block imghref %}/{% endblock %}
{% block content %}
<div class="wrapper fadeInDown">
  <div id="formContent">
 	<!-- Tabs Titles -->
    <br>
    <!-- Login Form -->
    <form method="POST">
      <input type="text" id="login" class="fadeIn second" name="first_name" placeholder="First Name" required>
      <input type="text" id="last_name" class="fadeIn third" name="last_name" placeholder="Last Name" required> 
      <div id="age">
      	<label name="age">Age:</label>
      	<input type="number" id="age" class="fadeIn third" name="age" placeholder="Age" required>
      </div>
      <br>
		<label name = "gender">Gender:</label>
		<input type="radio" name="gender" value="male" required> Male
		<input type="radio" name="gender" value="female" required> Female
	  <br>
      <input type="submit" class="fadeIn fourth" value="Continue">
      <a href="/" class="button">cancel</a>
    </form>

    <!-- Remind Passowrd -->

  </div>
</div>

{% endblock %}