<!DOCTYPE html>
<html>
<head>
	<title>signup</title>
</head>
<body>
		<style type="text/css">
			div{
				margin:20px 0;
			}
		</style>	

		<form method = "POST">
			<div>
				<label name = "firstName" >First Name:</label>
				<input type = "text" name = "firstName" required>
			</div>
			<div>
				<label name = "lastName">Last Name:</label>
				<input type = "text" name = "lastName" required>
			</div>
			<div>
				<label name = "age">Age:</label>
				<input type = "number" name = "age" required>
			</div>
			<div>
				<label name = "gender">Gender:</label>
				<input type="radio" name="gender" value="male" required> Male
				<input type="radio" name="gender" value="female" required> Female
			</div>

			<div>
				<input type="submit">
			</div>
	</form>
</body>
</html>