{% extends "base.html" %}
{% block content %}
  <h3> This is the start of my child template</h3>
  <br>
  <p>My string: </p>
  <p>Value from the list: </p>
  <p>Loop through the list:</p>
  <ul>
    {% for n in my_list %}
    <li>fgsg</li>
    {% endfor %}
  </ul>
  <h3> This is the end of my child template</h3>
{% endblock %}