{% extends "base.html" %}
{% block title %} Leaderboard {% endblock %}
{% block top %} Leaderboard {% endblock %}
{% block imghref %}/{{username}}{% endblock %}
{% block content %}
	<p>Nice Leaderboard for logged in people</p>
{% endblock %}