{% extends "user/user_base.html" %}
{% block title %} Leaderboard {% endblock %}
{% block top %} {{header}} {% endblock %}
{% block links %}<a href="/{{username}}/profile">Profile</a>{% endblock %}
{% block imghref %}/{{username}}{% endblock %}
{% block imghelp %}go to home page{% endblock %}
{% block content %}
<br>
{% if tables %}
<div class="container">
		<br>
		{% for table_i in range(0,4) %}
			{% if tables[table_i] %}
			<h3 id="division">{{ to_name_case(bracket_names[table_i]) }}</h3>
			<table>
				<thead>
					<tr class="table-head">
						<th>Place</th>
						<!-- <th></th> for Profile pic-->
						<th>Name</th>
						<th>{{challenge_type}}</th>
						<th>Comment</th>
					</tr>
				</thead>
				<tbody>
					{% for item in tables[table_i] %}
						<!-- if user in table is equal to logged in user, then make the background light blue, else just leave it be. -->
						{% if item[2] == user.first_name + ' ' + user.last_name %} 
							<tr style="background: lightblue;">
						{% else %}
							<tr>
						{% endif %}

							<!-- place -->
							<td>{{item[0]}}</td>
							<!-- profile pic -->
<!-- 							<td><img src="{{item[1]}}" height="32px" width="32px"></td>
 -->							<!-- name -->
							<td>{{item[2]}}</td> 
							<!-- score -->
							{% if challenge_type.lower() == ChallengeTypes.time %}
							<td>{{item[3]}} seconds</td>
							{% else %}
							<td>{{item[3]}}</td>
							{% endif %}
							<!-- comment -->
							<td>{{item[4]}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif%}
			<br>
			<br>
		{% endfor %}
 {% endif %}
	{% if not tables %}
	<p class="no_content" id="none">There are no competitors for that challenge</p>
	{% endif %}
	<a href="/{{username}}/leaderboard" class="btn">Pick a new challenge</a>
</div>	
{% endblock %}