{% extends "user/user_base.html" %}
{% block title %} New Challenge {% endblock %}
{% block top %} Suggest a New Challenge {% endblock %}
{% block links %}<a href="/{{username}}/profile">Profile</a>{% endblock %}
{% block imghref %}/{{username}}{% endblock %}
{% block content %}
	<div class="wrapper fadeInDown">
		<div id="formContent">
	 		<!-- Tabs Titles -->
	    	<br>
	    	<!-- Login Form -->
	    	<form method="POST">
	    		<label for="type">Challenge Type: </label>
	    		<select name="type" required>
	    			<option disabled selected value="">Please Select One</option>
	    			<option>Time</option>
	    			<option>Laps</option>
	    			<option>Repetitions</option>
	    		</select>
	      		<input type="text" id="challenge" class="fadeIn third" name="challenge" placeholder="Name of Challenge" required>
	      		<input type="submit" class="fadeIn fourth" value="Submit">
	    	</form>
	  	</div>
	</div>
{% endblock %}