{% extends "user/user_base.html" %}
{% block title %} New Challenge {% endblock %}
{% block top %} Personal Records {% endblock %}
{% block links %}<a href="/{{username}}/profile">Profile</a>{% endblock %}
{% block imghref %}/{{username}}{% endblock %}
{% block content %}
	<br>
	<div class="wrapper fadeInDown">
		<div id="formContent">
		<br>
		<form method="POST">
				<label for="challenge">Challenge: </label>

				<select name="challenge" required="required" class="fadeIn second" id="select">
					<option value="" hidden>Select Challenge</option>

					<optgroup label="Time (seconds)">
				    {% for item in challenge_dict['time'] %}
				    	<option value="{{ item }}" required="required">{{item}}</option>
				    {% endfor %}
					</optgroup>

				    <optgroup label="Laps">
				    {% for item in challenge_dict['laps'] %}
				    	<option value="{{ item }}" required="required">{{item}}</option>
				    {% endfor %}
					</optgroup>

				    <optgroup label="Reps (in one minute)">
				    {% for item in challenge_dict['reps'] %}
				    	<option value="{{ item }}" required="required">{{item}}</option>
				    {% endfor %}
				    </optgroup>
				</select>

				<input type="text" name="time" class="fadeIn third" id="time" placeholder="score">				
				<input type="text" name="comment" id="comment" value="{{comment}}" placeholder="Comments">
				<input type="submit" class="fadeIn fourth" value="Submit" id="submit">
		</div>
		</form>
	</div>
	<br>
{% endblock %}