{% extends "user/user_base.html" %}
{% block title %} Profile Page {% endblock %}
{% block top %} Profile {% endblock %}
<!-- don't add block links -->
{% block imghref %}/{{username}}/profile{% endblock %}
{% block content %}
<style type="text/css">
	label {
		display: block;
		margin-top:10px;
	}
	#formContent {
		width:60%
	}
</style>
<div class="wrapper fadeInDown">
	<div id="formContent">
		<br>
			<form method="POST" enctype="multipart/form-data">
				<label for="first_name">First Name: </label>
				<input name="first_name" type="text" value="{{user.first_name}}">
				<label for="last_name">Last Name: </label>
				<input name="last_name" type="text" value="{{user.last_name}}">
				<label for="gender">Gender: </label>
				{% if user.gender=='male'%}
					<input type="radio" name="gender" value="male" checked> Male
					<input type="radio" name="gender" value="female"> Female
				{% endif %}
				{% if user.gender=='female'%}
					<input type="radio" name="gender" value="male"> Male
					<input type="radio" name="gender" value="female" checked> Female
				{% endif %}
				<br>
				<input type="file" name="photo">

				<br>
					<input type="submit" value="save">
				<div id="formFooter">
					<a href="/{{username}}/profile" style="display:block">cancel</a>   
				</div>
			</form>
	</div>
</div>

{% endblock %}