{% extends "user/user_base.html" %}
{% block title %} Profile Page {% endblock %}
{% block top %} Profile {% endblock %}
<!-- don't add block links -->
{% block imghref %}/{{username}}/profile{% endblock %}
{% block content %}
<style type="text/css">
label {
	display: block;
	margin-top:10px;
}
#formContent {
	width:60%
}
.bdaypart {
	margin-left: 10px;
}
.birthday div {
	display: inline;
}
#delete {
	color: #BF1D2D;
	font-size: 1em;
	text-decoration: none;
}
#danger {
	padding: 10px;
	background: rgba(0,0,0,.9);
	border-radius: 10px;
}

</style>
<div class="wrapper fadeInDown">
	<div id="formContent">
		<br>
			<form method="POST" enctype="multipart/form-data">
				<label for="photo" style="margin-bottom: 4px;">Profile Picture:</label>
				<img src="/static/blank_profile.jpg" width="40px"> 
				<img src="/static/blank_profile.jpg" width="40px"> 
				<img src="/static/blank_profile.jpg" width="40px"> 
				<img src="/static/blank_profile.jpg" width="40px"> 
				<img src="/static/blank_profile.jpg" width="40px"> 
				<img src="/static/blank_profile.jpg" width="40px"> 
				<img src="/static/blank_profile.jpg" width="40px"> 
				<label for="first_name">First Name: </label>
				<input name="first_name" type="text" value="{{user.first_name}}">
				<label for="last_name">Last Name: </label>
				<input name="last_name" type="text" value="{{user.last_name}}">
				<label for="gender">Gender: </label><br>
				{% if user.gender=='male'%}
					<input class="form-radio" type="radio" name="gender" value="male" checked>
					<label class="radio-label" for="male">Male</label>
					<input class="form-radio" type="radio" name="gender" value="female">
					<label  class="radio-label" for="female">Female</label>
				{% endif %}
				{% if user.gender=='female'%}
					<input class="form-radio" type="radio" name="gender" value="male">
					<label class="radio-label" for="male">Male</label>
					<input class="form-radio" type="radio" name="gender" value="female" checked>
					<label class="radio-label" for="female">Female</label>
				{% endif %}
				<br>
				<br>
			<!-- BIRTHDAY selector -->
			<div class="birthday">
				Birthday: <br><br>
				<input id="chosen-date" type="date" name="birthday">
				
			<br>
				<br>
					<input type="submit" value="save">
				<div id="formFooter">
					<a href="/{{username}}/profile" style="display:block">cancel</a>   
				</div>
			</form>
	</div>
	<br>
	<div id="danger">
		<strong><a id="delete" href="/{{username}}/profile/delete_account">Delete Account</a></strong>
	</div>
</div>

{% endblock %}